/* @import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Courgette&family=Shizuru&display=swap');
*{
	margin: 0;
	padding: 0;
	font-family: IMPACT;
}

{
	box-sizing: border-box;
	background: #F08080
}

.hero{
	position: absolute;
	width: 100%;
	height: 300%;
	background:url('background lagi.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	
}

nav{
	display: flex;
	width: 100%;
	margin: auto;
	padding: 20px 0;
	align-item: center;
	justify-content: space-between;
	background-color: #E97A9C
;
}

nav ul li{
	display: inline-block;
	list-style: none;
	margin: 10px 20px;
}

nav ul li a{
	text-decoration: none;
	color: #E9967A;
	font-weight: bold;
}

nav a{
			width:75px;
			display: block;
			text-decoration:none;
			text-align:center;
			background:#5f137f;
			font-size:14px;
			color:#ebfff9;
			padding:20px 8px;
			font-family:'Courgette', cursive;
			font-weight:600;
			border-radius: 20px;
			
}
		
nav a:hover{
			background:#ca9ecf;
			color:#000000;
}

.HOBBY{
	margin-left: 14%;
	margin-top: 3%;
}

.HOBBY h1{
	font-size: 80px;
	color: #212121;
	margin-bottom: 20px;
	font-family: 'Cormorant Garamond', serif;
}

span{
	color: #5f49a6;
	font-family: phosphate;
}

.HOBBY ul li{
	color:#000000;
	line-height: 30px;
	font-size:large;
	font-family: 'Cormorant Garamond', serif;
	
}

.listen{
	margin-left: 14%;
	margin-top: 250px;
	
}

.listen h1 {
	font-size: 80px;
	color: #212121;
	margin-top: -100px;
	margin-bottom: 20px;
	font-family: phosphate;
}

span{
	color: #5f49a6;
	font-family: phosphate;
	
}

.listen ul li{
	color: #000000;
	line-height: 30px;
	font-size: large;
	font-family: 'poppins', sans-serif;
}
*/
.spotify  iframe{
	/* position: fixed;
	right: 600;
	bottom: 80px;
	width: 30%; */
	
	width:50%;
	margin-top: 30px;
	
}

video{
	width:50%;
	margin-top: 30px;
} 